
.label-main {
    -fx-padding: 10px;

    -fx-background-color: #f5f5f5;
    -fx-background-radius: 20px;

    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(93, 93, 93, 0.63), 10, 0, 0, 0);
}

.main .button {
    -fx-padding: 10px;

    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10px;

    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(93, 93, 93, 0.63), 10, 0, 0, 0);
}

.main .label {
    -fx-padding: 10px;

    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10px;

    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(93, 93, 93, 0.63), 10, 0, 0, 0);
}


.logicPage {
    /* General styles for the page */
    -fx-background-color: #fafafa;
}

/* Define button styles within the .logicPage class */
.logicPage .button {
    -fx-padding: 10px;
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-margin: 5px 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(93, 93, 93, 0.98), 10, 0, 0, 0);
}

/* Define button hover styles within the .logicPage class */
.logicPage .button:hover {
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 0);
}

/* Define button hover styles within the .logicPage class */
.main .button:hover {
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 0);
}


/* Define label styles within the .logicPage class */
.logicPage .label {
    -fx-font-size: 16px;
}

.overlay {
    -fx-padding: 10px;
    -fx-background-color: #000000;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-margin: 5px 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(93, 93, 93, 0.98), 10, 0, 0, 0);
}

.pass-button {
    -fx-background-color: #333333; /* Dark background */
    -fx-text-fill: #d4a017; /* Gold text */
    -fx-font-size: 18px; /* Font size */
    -fx-background-radius: 10; /* Rounded corners */
    -fx-border-color: #d4a017; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-border-radius: 10; /* Border radius */
}
